.projectActivity_container {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;
}

.activities {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    color: #a3a3a3;
}

.project-head span {
    font-size: 0.8rem;
}